* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: unset;
}

.textcenter {
    list-style: center;
}

.h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.h3 {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}


.h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.p {
    font-size: 12px;
}

main section div div p{
    margin-top: 0;
}

main section div div h1{
    margin-bottom: 5px;
}

header nav li a:hover {
    color:#0065FC;
}

header nav li:hover {
    border-top: #0065FC 6px solid;
}

header nav {
    height: 50px;
    display: flex;
    align-items: center;
}

header nav ul {
    padding: unset;
    list-style-type: none;
    margin: 0;
}

header nav ul li {
    padding: 1rem;
    border-top: 6px solid transparent;
}

.logo {
    width: 61.09px;
    height: 19px;
    left: 0px;
    top: 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-responsive {
    width: 100%;
    height: 60px;
}

.mr-3 {
    margin-right: 2rem;
}

.d-flex {
    display: flex;
}

.link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}


.research_input {
    border: none;
    height: 49px;
    width: 170px;
    font-size: 18px;
}

.button_research {
    background-color: #0065FC;
    color: white;
    font-size: bold;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    width: 120px;
    font-size: 18px;
}

.icon {
    background-color: #F2F2F2;
    width: 48px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search_filter {
    display: flex;
    font-size: 18px;
}

.search_filter i {
    color: #0065FC; 
    height: 8px;
    width: 12px;
    margin: 12px;
    margin-right: 18px;
}

.search_filter div:hover {
    background-color: #DEEBFF;
}

.search_filter div {
    margin-right: 22px;
    margin-left: 15px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-right: 10px;
    font-weight: bold;
}

.info i {
    color: #0065FC;
    width: 4px;
    height: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 50px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 7px 10px 7px 10px;
    font-size: 12px;
}

.info {
    display: flex;
    align-items: center;
}


.hebergements {
    border-radius: 10px;
    flex-grow: 2;
    margin-right: 10px;
}

.populaires {
    border-radius: 10px;
    flex-grow: 1;
    margin-left: 10px;
}

.background-gris {
    background-color:#F2F2F2;
}

.img-hebergements {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 124px;
    border-radius: 15px 15px 0px 0px;
}


.d-around {
    display: flex;

}

.d-evenly {
    display: flex;
    justify-content: space-evenly;
}

.d-column {
}

.card-hebergement {
    width: 30%;
    height: auto;
    background-color:#FFFFFF ;
    padding: 5px;
    border-radius: 15px;
}

.margin-card1 {
    margin-bottom: 15px;
}
.margin-card2 {
    margin-top: 15px;
}

.descriptioncard {
    margin-left: 10px;
}

.starblue i {
    color:#0065FC;
}

.stargrey i{
    color:#F2F2F2;
}